*.tar
semantic-segmentation/sdcnet/Cityscapes_train_optical_flow_scale1024_prev/*
semantic-segmentation/sdcnet/Estimated_optical_flow_SynthiaSeq_train_orig/*
semantic-segmentation/ckpt
semantic-segmentation/setenv
semantic-segmentation/weights
*~
*.pyc
semantic-segmentation/dump_imgs_train
semantic-segmentation/tb
__pycache__/
semantic-segmentation/.idea/
semantic-segmentation/build/
*.egg-info/
semantic-segmentation/dist/
*.py[cod]
*.swp
*.o
*.so
semantic-segmentation/.torch
semantic-segmentation/.DS_Store
